#topMenuContainer {
    background-color: #F8F9FA;
  }
  #topMenu a{
    font-size: 1.5rem;
    font-weight:500;
  }
  .example-box {
    background-color: #F8F9FA;
    border: 1px solid #dee2e6;
    margin-top:10px; margin-bottom:10px ;
  }
  .example-box-inner {
    border: 1px solid black;
    margin-top:10px; margin-bottom:10px ;
    padding-top:10px; padding-bottom:10px ;
    background-color: #cfe2ff;
  }
  .example-box-outter {
    border: 1px solid black;
    margin-top:10px; margin-bottom:10px ;
    padding-top:10px; padding-bottom:10px ;
    background-color: #e2e8e1;
  }
  
  .w-100-px{
    width: 100px !important;
  }

  .hljs {
    border: 1px solid #dee2e6 !important;
  }